.table {
    margin-left: 150px;
    margin-bottom: 30px;
}

/*displays the border of the container */
.container {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #fff;
    border: 2px #000 solid;
    padding: 10px;
}

.openClaimsTitle {
    font: normal 36px 'Open Sans', cursive;
    background: #0000FF;
    color: #FFFFFF;
}

table, th, td {
    border: 1px solid black;
    background-color: #0000FF;
    color: #FFFF;
  }

  .openClaimsBox {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
}

.openClaimsBox label, input, button {
    margin: 10px;
}