.pageHeader {
    background-color: #0000FF;
    min-height: 80px;
    width: 98%;
    padding: 10px;
}

/* The company logo */

.pageHeader h1 {
    float: left;
    margin-right: 50px;
    margin-top: 10px;
    font: normal 36px 'Open Sans', cursive;
    color: #FFFF;
}

.pageHeader h1 span{
	color:  #00FF00;
}

.pageHeader ul.nav {
    margin-top: 30px;
    margin-right: 200px;
}

.pageHeader ul.nav li {
    display:inline;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    position: sticky;
    color:  #00FF00;
}

/* Change color of dropdown links on hover for the menu */
.pageHeader ul.nav li:hover {
  padding: 20px;
  background-color: #f0f0f3;
}

/* Link get transpiled to an <a> */
a {
    color: #00FF00;
  }