.viewTable {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: fit-content;
}

/*displays the border of the container */
.viewclaimsContainer {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #fff;
    border: 10px solid #00FF00;
    padding: 10px;
}

.viewClaimsTitle {
    font: normal 36px 'Open Sans', cursive;
    background: #0000FF;
    color: #FFFFFF;
}

.viewClaimsFilter {
    text-align: left;
    color:#0000FF;
}

.viewTableData {
    width: fit-content;
}

table, th, td {
    border: 1px solid black;
    background-color: #0000FF;
    color: #FFFF;
  }

.viewClaimsBox {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
}

.viewClaimsBox label, input, button {
    margin: 10px;
}

.viewBtn {
    cursor: pointer;
}